{%extends 'base.html'%}
{% block content %} 
{{ block.super}}



<body>
    <div style="margin-top:250px;background-color: white" class="container">
      <div clas="row">
        
     
      <div class="col-md-10 col-sm-10 col-xs-12">
        
          <h4 class="text-center"><strong>Your Posted products</strong></h4>
          <hr>
          {% for product in products %}
          <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 ">
            <div class="user-projs">
          <img style="margin:13px;height:100px;width:100px;" src="{{product.image.url}}" class="img-responsive" alt="Image">
          <p>{{product.product_name}}</p>
          </div>
         
        </div>
          
          {% endfor %}
    
      </div>
    </div>
      <hr>
    </div>
    <div style="background-color: white"class="container">
     
     
      <div class="col-md-2"></div>
      <div class="col-md-8">
        
        
       
      </div>
      <div class="col-md-2"></div>
    </div>
  
</body>
{% endblock %}